 
 body{
 background-image: url(..//assets/signup.png);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
 }
 
 h1 {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    background: linear-gradient(to right,  #607FEE 25%, #F9C935 50%,#417501 100%);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


 .custom-form-bg {
    background-color: #9AEAFE;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
    border-radius: 10px;
  }